.context{
    position: absolute;
    z-index:auto;
}
.react-contextmenu {
    position: absolute;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important; 
    z-index: 10999;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 10999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
	cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
     z-index: 10999;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
     z-index: 10999;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
     z-index: 10999;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
     z-index: 10999;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
     z-index: 10999;
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
     z-index: 10999;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
     z-index: 10999;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "?";
    display: inline-block;
    position: absolute;
    right: 7px;
     z-index: 10999;
}


.panel{
  width: 200px;
  height: 200px;
}

#panel2{
  left: 300px
}
#panel3{
  left: 550px
}

.resizable{ 
  overflow: hidden;
  resize: both
}

.draggable{
  position: absolute;
  z-index: 100
}
.draggable-handler{
  cursor: pointer
}
.dragging{
  cursor: move;
  z-index: 200 !important
}